<section class="nosotros-nordic text-dark py-5 px-4">
  <div class="container text-center">
    <h2 class="fw-bold mb-5" data-aos="fade-up">
      Conocé más sobre <span class="text-info">nosotros</span>
    </h2>

    <div class="row g-4">
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="0">
        <h4 class="text-info">¿Quiénes somos?</h4>
        <p>
          Somos Nordic Studio, un equipo apasionado por la tecnología y la creatividad. 
          Creamos soluciones digitales que combinan diseño, estrategia y desarrollo para ayudar a emprendedores y marcas a crecer online.
        </p>
      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
        <h4 class="text-info">Nuestra misión</h4>
        <p>
          Impulsar negocios digitales mediante páginas web modernas, automatizaciones eficientes y una experiencia centrada en el usuario.
        </p>
      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
        <h4 class="text-info">Nuestra visión</h4>
        <p>
          Ser un referente latinoamericano en soluciones web que transforman ideas en resultados reales, medibles y visualmente impactantes.
        </p>
      </div>
    </div>
  </div>
</section>
